{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <h1 class="main-title">Training Factory</h1>
        <div class="row">
            <ul class="main-menu">
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('adminHome') }}">Home</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('adminLeden') }}">Leden</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('logout') }}">Uitloggen</a></li></div>
            </ul>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <tr>
                <th>Training</th>
                <th>Duur</th>
                <th>Datum</th>
                <th>Locatie</th>
                <th>Instructeur</th>
            </tr>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.training.description }}</td>
                    <td>{{ lesson.training.duration|date('m:i') }}</td>
                    <td>{{ lesson.date|date('d M') }} {{ lesson.time|date('m:i') }}</td>
                    <td>{{ lesson.location }}</td>
                    <td>{{ lesson.instructor.firstname }} {{ lesson.instructor.lastname }}</td>
                    <td><a href="{{ path('adminWijzigLes', {'lesId':lesson.id}) }}">Les wijzigen</a></td>
                    <td><a href="#">Deelnemers</a></td>
                </tr>
            {% endfor %}
        </table>
        <a href="{{ path('adminLesToevoegen') }}" class="btn btn-default">Les toevoegen</a>
    </div>

{% endblock %}