{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <h1 class="main-title">Training Factory</h1>
        <div class="row">
            <ul class="main-menu">
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('memberHomepage') }}">Home</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('memberGedragsregels') }}">Gedragsregels</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('memberAanbod') }}">Les aanbod</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('memberContact') }}">Contact</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('memberProfiel') }}">Profiel aanpassen</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('logout') }}">Uitloggen</a></li></div>
            </ul>
        </div>
    </div>
    <h2>Les aanbod</h2>
    <div class="container">
        <table class="table">
            <tr>
                <th>Training</th>
                <th>Datum</th>
                <th>Duur</th>
                <th>Locatie</th>
                <th>Aantal personen</th>
                <th>Instructeur</th>
            </tr>
            {% for lesson in lessons %}
                <tr>
                    <td>{{ lesson.training.description }}</td>
                    <td>{{ lesson.date|date('d M') }}</td>
                    <td>{{ lesson.time|date('m:i') }}</td>
                    <td>{{ lesson.location }}</td>
                    <td>{{ lesson.maxPersons }}</td>
                    <td>{{ lesson.instructor.firstname }} {{ lesson.instructor.lastname }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}