{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <h1 class="main-title">Training Factory</h1>
        <div class="row">
            <ul class="main-menu">
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('memberHomepage') }}">Home</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('memberGedragsregels') }}">Gedragsregels</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('memberAanbod') }}">Les aanbod</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('memberContact') }}">Contact</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('memberProfiel') }}">Profiel aanpassen</a></li></div>
                <div class="col-sm-4"><li class="main-menu-item"><a href="{{ path('logout') }}">Uitloggen</a></li></div>
            </ul>
        </div>
    </div>
    <h2>Contactpagina gek</h2>
    <div class="contact">
        <ul class="contact-list">
            <li class="contact-list-item">Christiaanlaan 51b</li>
            <li class="contact-list-item">Delft</li>
            <li class="contact-list-item">015 5190512</li>
            <li class="contact-list-item">administratie@trainingfactory.nl</li>
        </ul>
    </div>

{% endblock %}